body {
	background-color: #232323;
}

h1 {
	color: #fff;
	text-transform: uppercase;
}

span {
	color: #fff;
}

#container {
	max-width: 600px;
	margin: 0 auto;
}

.square {
	width: 30%;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
}