body {
	background-color: #232323;
}

h1 {
	color: #fff;
	text-transform: uppercase;
}

#message {
	color: #fff;
}

#stripe {
	background-color: #fff;
	height: 30px;
	text-align: center;
	color: #000;
}

#message {
	color: #000;
}

#container {
	max-width: 600px;
	margin: 0 auto;
}

.square {
	width: 30%;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
}

.selected {
	background-color: blue;
}